<div class="ads-grid">
  <div class="container">
    <!-- tittle heading -->
    <h3 class="tittle-w3l">Produtos
      <span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
    </h3>
    <!-- //tittle heading -->
    <!-- product left -->
    <div class="side-bar col-md-3">
      <div class="search-hotel">
        <h3 class="agileits-sear-head">Procure aqui..</h3>
        <form action="#" method="get">
          <input type="search" placeholder="Nome do produto..." name="search" required="">
          <input type="submit" value=" ">
        </form>
      </div>

      <div class="left-side">
        <h3 class="agileits-sear-head">Tipos dos Produtos</h3>
        <ul>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Grãos</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Doces</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Hortifruti</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Bolachas e Biscoitos</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Massas</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Temperos e Condimentos</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Laticíneos</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Padaria</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Carnes</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Friamberia</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Higiene e Limpeza</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Bebidas</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Bebidas Alcoolicas</span>
          </li>
          <li>
            <input type="checkbox" class="checked">
            <span class="span">Outros</span>
          </li>


        </ul>
      </div>

    </div>
    <!-- //product left -->
    <!-- product right -->
    <div class="agileinfo-ads-display col-md-9">
      <div class="wrapper">
        <div></div>
        <div class="product-sec1">
          <h3 class="heading-tittle">Óleos</h3>
          <div class="col-md-4 product-men" *ngFor="let p of listaDeProdutos">
            <div class="men-pro-item simpleCart_shelfItem">
              <div class="men-thumb-item">
                <img src="assets/images/mk4.jpg" alt="">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Ver mais</a>
                  </div>
                </div>
              </div>
              <div class="item-info-product " >
                <h4>
                  <a href="single.html">{{p.descricao | slice:0:24}}</a>
                </h4>

                <div class="info-product-price">
                  <span class="item_price">R${{p.precoDeVenda}}</span>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                  <form action="#" method="post">
                    <fieldset>
                      <input type="submit" name="submit" value="Adicionar a compra" class="button"/>
                    </fieldset>
                  </form>
                </div>

              </div>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
        <!-- //third section (oils) -->
        <!-- fourth section (noodles) -->
        <div class="product-sec1">
          <h3 class="heading-tittle">Pasta & Noodles</h3>
          <div class="col-md-4 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
              <div class="men-thumb-item">
                <img src="assets/images/mk7.jpg" alt="">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                  </div>
                </div>
              </div>
              <div class="item-info-product ">
                <h4>
                  <a href="single.html">Yippee Noodles, 65g</a>
                </h4>
                <div class="info-product-price">
                  <span class="item_price">$15.00</span>
                  <del>$25.00</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                  <form action="#" method="post">
                    <fieldset>
                      <input type="hidden" name="cmd" value="_cart"/>
                      <input type="hidden" name="add" value="1"/>
                      <input type="hidden" name="business" value=" "/>
                      <input type="hidden" name="item_name" value="YiPPee Noodles, 65g"/>
                      <input type="hidden" name="amount" value="15.00"/>
                      <input type="hidden" name="discount_amount" value="1.00"/>
                      <input type="hidden" name="currency_code" value="USD"/>
                      <input type="hidden" name="return" value=" "/>
                      <input type="hidden" name="cancel_return" value=" "/>
                      <input type="submit" name="submit" value="Add to cart" class="button"/>
                    </fieldset>
                  </form>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-4 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
              <div class="men-thumb-item">
                <img src="assets/images/mk8.jpg" alt="">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                  </div>
                </div>
                <span class="product-new-top">New</span>

              </div>
              <div class="item-info-product ">
                <h4>
                  <a href="single.html">Wheat Pasta, 500g</a>
                </h4>
                <div class="info-product-price">
                  <span class="item_price">$98.00</span>
                  <del>$120.00</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                  <form action="#" method="post">
                    <fieldset>
                      <input type="hidden" name="cmd" value="_cart"/>
                      <input type="hidden" name="add" value="1"/>
                      <input type="hidden" name="business" value=" "/>
                      <input type="hidden" name="item_name" value="Wheat Pasta, 500g"/>
                      <input type="hidden" name="amount" value="98.00"/>
                      <input type="hidden" name="discount_amount" value="1.00"/>
                      <input type="hidden" name="currency_code" value="USD"/>
                      <input type="hidden" name="return" value=" "/>
                      <input type="hidden" name="cancel_return" value=" "/>
                      <input type="submit" name="submit" value="Add to cart" class="button"/>
                    </fieldset>
                  </form>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-4 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
              <div class="men-thumb-item">
                <img src="assets/images/mk9.jpg" alt="">
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Quick View</a>
                  </div>
                </div>
                <span class="product-new-top">New</span>

              </div>
              <div class="item-info-product ">
                <h4>
                  <a href="single.html">Chinese Noodles, 68g</a>
                </h4>
                <div class="info-product-price">
                  <span class="item_price">$11.99</span>
                  <del>$15.00</del>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                  <form action="#" method="post">
                    <fieldset>
                      <input type="hidden" name="cmd" value="_cart"/>
                      <input type="hidden" name="add" value="1"/>
                      <input type="hidden" name="business" value=" "/>
                      <input type="hidden" name="item_name" value="Chinese Noodles, 68g"/>
                      <input type="hidden" name="amount" value="11.99"/>
                      <input type="hidden" name="discount_amount" value="1.00"/>
                      <input type="hidden" name="currency_code" value="USD"/>
                      <input type="hidden" name="return" value=" "/>
                      <input type="hidden" name="cancel_return" value=" "/>
                      <input type="submit" name="submit" value="Add to cart" class="button"/>
                    </fieldset>
                  </form>
                </div>

              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- //fourth section (noodles) -->
      </div>
    </div>
    <!-- //product right -->
  </div>
</div>
<!-- //top products -->
