<div class="ads-grid">
  <div class="container">
    <!-- tittle heading -->
    <h3 class="tittle-w3l">
      Produtos
      <span class="heading-style">
        <i></i>
        <i></i>
        <i></i>
      </span>
    </h3>
    <!-- //tittle heading -->
    <!-- product left -->
    <div class="side-bar col-md-3">
      <div class="search-hotel">
        <h3 class="agileits-sear-head">Procure aqui..</h3>
        <form action="" #f="ngForm" (ngSubmit)="onSubmit(f)" method="get">
          <input
            type="search"
            placeholder="Nome do produto..."
            name="description"
            required=""
            [(ngModel)]="description"
          />
          <input type="submit" value=""/>
        </form>
      </div>

      <div class="left-side">
        <h3 class="agileits-sear-head">Seções</h3>
        <ul>
          <li *ngFor="let t of types ">
            <input type="radio" class="" name="type" (change)="getProductsByProductType(t)"/>
            <span class="span">{{ t.nameProductType }}</span>
          </li>
        </ul>
      </div>
    </div>
    <!-- //product left -->
    <!-- product right -->
    <div class="agileinfo-ads-display col-md-9">
      <div class="wrapper">
        <div></div>
        <div class="product-sec1">
          <h3 class="heading-tittle" *ngIf="nameTypeSelected.length > 2"> {{nameTypeSelected}}</h3>

          <!-- template product -->

          <div class="col-md-4 product-men" *ngFor="let p of products">
            <div class="men-pro-item simpleCart_shelfItem">
              <div class="men-thumb-item">
                <img src="assets/images/mk4.jpg" alt=""/>

                <!-- <div class="men-cart-pro">
                   <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Ver mais</a>
                  </div>
                </div> -->
              </div>
              <div class="item-info-product">
                <h4>
                  <a><strong>{{ p.description | slice : 0 : 20 }}</strong></a>
                </h4>
                <div class="info-product-price">
                  <span class="item_price">R${{ p.priceSale }}</span>
                </div>
                <p class="h6 text-muted">Quant.: {{p.quantity}}</p>
                <div
                  class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out"
                >
                  <form action="#" method="post">
                    <fieldset>
                      <input
                        type="submit"
                        name="submit"
                        (click)="addToCart(p)"
                        value="Adicionar a compra"
                        class="button"
                      />
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!--/ template product -->

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- //product right -->
  </div>
</div>
<!-- //top products -->
