<div class="footer-top">
  <div class="container-fluid">
    <div class="col-xs-8 agile-leftmk">
      <h2>
        Quer ficar por dentro das novidades? Se inscreva com seu e-mail aqui!
      </h2>
      <p></p>
      <form action="#" method="post">
        <input type="email" placeholder="E-mail" name="email" required="" />
        <input type="submit" value="Subscribe" />
      </form>
      <div class="newsform-w3l">
        <span class="fa fa-envelope-o" aria-hidden="true"></span>
      </div>
    </div>
    <div class="col-xs-4 w3l-rightmk">
      <img src="assets/images/tab3.png" alt=" " />
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<footer>
  <div class="container">
    <!-- footer first section -->
    <p class="footer-main">
      <span>"Supermercado Daroz"</span> Esse supermercado é uma forma de aplicar
      todo meu conhecimento na prática e também deixar disponível para servir
      como meu portfólio
    </p>
    <!-- //footer first section -->
    <!-- footer second section -->
    <div class="w3l-grids-footer">
      <div class="col-xs-4 offer-footer">
        <div class="col-xs-4 icon-fot">
          <span class="fa fa-map-marker" aria-hidden="true"></span>
        </div>
        <div class="col-xs-8 text-form-footer">
          <h3>Peça da Sua Casa</h3>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-xs-4 offer-footer">
        <div class="col-xs-4 icon-fot">
          <span class="fa fa-refresh" aria-hidden="true"></span>
        </div>
        <div class="col-xs-8 text-form-footer">
          <h3>Entrega Rápida</h3>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-xs-4 offer-footer">
        <div class="col-xs-4 icon-fot">
          <span class="fa fa-times" aria-hidden="true"></span>
        </div>
        <div class="col-xs-8 text-form-footer">
          <h3>Atendimento e Cancelamento Online</h3>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- //footer second section -->
    <!-- footer third section -->
    <div class="footer-info w3-agileits-info">
      <!-- //quick links -->
      <!-- social icons -->

      <!-- //social icons -->
      <div class="clearfix"></div>
    </div>
    <!-- //footer third section -->
    <!-- footer fourth section (text) -->
    <div class="agile-sometext">
      <!-- payment -->
      <div class="sub-some child-momu">
        <h5>Métodos de Pagamentos</h5>
        <ul>
          <li>
            <img src="assets/images/pay2.png" alt="" />
          </li>
          <li>
            <img src="assets/images/pix.png" height="30" width="30" alt="" />
          </li>
          <li>
            <img src="assets/images/pay1.png" alt="" />
          </li>
          <li>
            <img src="assets/images/pay4.png" alt="" />
          </li>
          <li>
            <img src="assets/images/pay3.png" alt="" />
          </li>
          <li>
            <img src="assets/images/paypal.png" height="35" width="35" alt="" />
          </li>
        </ul>
      </div>
      <!-- //payment -->
    </div>
    <!-- //footer fourth section (text) -->
  </div>
</footer>

<div class="copy-right">
  <div class="container">
    <p>
      © 2022 Daroz Supermercado Online | Portfólio
      <a href="https://github.com/geraldodf/supermercado-angular-front-end">
        Geraldo Daros Filho.</a
      >
      <a target="_blank" href="https://www.linkedin.com/in/geraldodf/"
        ><img
          src="assets/images/linkedin.png"
          height="20"
          width="20"
          alt="LinkedIn"
          class="m-2"
      /></a>
      <a target="_blank" href="https://github.com/geraldodf"
        ><img
          src="assets/images/github.png"
          height="20"
          width="20"
          alt="GitHub"
      /></a>
    </p>
  </div>
</div>
