<div class="container product-sec1 mt-5 mb-5">
  <h2 class="text-center pb-5 ">Carrinho de Compras</h2>
  <table class="table table-hover">
    <thead class="thead-light">
    <tr>
      <th class="text-center"></th>
      <th class="text-center">Descrição</th>
      <th class="text-center">Valor Unitário</th>
      <th class="text-center">Quantidade</th>
      <th class="text-center">Valor Produtos</th>
      <th class="text-center">Excluir</th>
    </tr>
    </thead>
    <tbody>
    <tr class="align-items-center" *ngFor="let p of productList">
      <td class="text-center"><img src="../../../assets/images/mk4.jpg" alt="Imagem Produto" style="height: 50px"></td>
      <td class="text-center">{{p.description}}</td>
      <td class="text-center">{{p.priceSale}}</td>
      <td class="text-center m-1"><input type="number" min="1" max="{{p.quantity}}" value="{{p.quantitySelected}}" style="width: 50px;"
                                         (input)="updateQuantity(($any($event.target).value), p)"></td>
      <td class="text-center">{{p.priceTotalSale  | number: '1.2-2'}}</td>
      <td class="text-center">
        <button class="btn btn-danger" (click)="removeProduct(p)">Excluir</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-right">
    <h1>R$ {{salePrice| number: '1.2-2'}}</h1>
    <button class="btn btn-danger  mt-4 me-2" routerLink="/">Voltar</button>
    <button class="btn btn-success  mt-4">Finalizar Compra</button>
  </div>
</div>

