<app-header></app-header>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h3>Seu mercado
            <span>Online</span>
          </h3>
          <p>Compre do conforto da sua! Entrega grátis a partir de R$100,00</p>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet>
</router-outlet>

<!--<app-ofertas-especiais></app-ofertas-especiais>-->

<app-footer></app-footer>
