<div class="ads-grid">
  <div class="container">
    <!-- tittle heading -->
    <h3 class="tittle-w3l">
      Carrinho de Compras
      <span class="heading-style">
        <i></i>
        <i></i>
        <i></i>
      </span>
    </h3>
    <!-- //tittle heading -->

    <div class="agileinfo-ads-display col-md-12">
      <div class="wrapper">
        <div></div>
        <div class="product-sec1">
          <h3 class="heading-tittle"></h3>

          <!-- template product -->

          <div class="col-md-4 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
              <div class="men-thumb-item">
                <img src="assets/images/mk4.jpg" alt=""/>
                <!-- <div class="men-cart-pro">
                   <div class="inner-men-cart-pro">
                    <a href="single.html" class="link-product-add-cart">Ver mais</a>
                  </div>
                </div> -->
              </div>
              <div class="item-info-product">


                <div class="info-product-price">
                  <span class="item_price">Nome do produto aqui</span>
                </div>
                <div
                  class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out"
                >


                </div>

                <div class=""><button class="bg-primary "> Finalizar Compra</button></div>

              </div>
            </div>
          </div>

          <!--/ template product -->

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- //product right -->
  </div>
</div>
<!-- //top products -->
